<div class="sensorboxcontainer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="sensorbox"> 
            <h3>ALL SENSORS</h3>
            <hr>
            <div class="container">
              <img class="img-responsive img" src="../../assets/images/allsensors.jpeg"> 
              <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="sensorbox" (click)="goToGPRPage()"> 
            <h3>GPR SENSOR</h3>
            <hr>
            <div class="container">
              <img class="img-responsive img" src="../../assets/images/gpr.jpeg"> 
              <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="sensorbox"> 
            <h3>SEISMIC SENSOR</h3>
            <hr>
            <div class="container">
              <img class="img-responsive img" src="../../assets/images/seismic.jpeg"> 
              <p>The .img-responsive class makes the image scale nicely to the parent element (resize the browser window to see the effect):</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>